.container {
  margin: 50px auto;
  max-width: 700px;
  width: 100%;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

#logo {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  text-align: center;
}
.list-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}

.list-add > input {
  flex: 0.76;
  font-size: 20px;
  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.list-add > button {
  flex: 0.23;
  padding: 5px 15px;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.list-add:hover > button {
  background-color: rgb(46, 77, 0);
  transition: background-color 0.3s;
}
.list {
  padding: 0px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-text {
  margin-left: 5px;
  font-size: 20px;
  padding: 0px;
  margin: 10px 0;
}

.item-text[type="text"] {
  margin-left: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid grey;
  outline: none;
  font-size: 20px;
  margin: 10px 0;
}

/* normal controls */
.controls {
  display: flex;
  align-items: center;
}

/* edit button */
.edit-btn {
  flex: 0.2;
  padding: 5px 15px;
  max-width: 80px;
  width: 100%;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.edit-btn:hover {
  transition: background-color 0.3s;
  background-color: rgb(77, 77, 3);
  color: var(--text-color);
}

/* delete button */

.delete-btn {
  flex: 0.2;
  padding: 5px 15px;
  max-width: 80px;
  width: 100%;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.delete-btn:hover {
  transition: background-color 0.3s;
  background-color: rgb(78, 0, 0);
  color: var(--text-color);
}

/* save button */
.save-btn {
  flex: 0.2;
  padding: 5px 15px;
  max-width: 80px;
  width: 100%;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.save-btn:hover {
  transition: background-color 0.3s;
  background-color: rgb(46, 77, 0);
  color: var(--text-color);
}

/* cancel button */
.cancel-btn {
  flex: 0.2;
  padding: 5px 15px;
  max-width: 80px;
  width: 100%;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.cancel-btn:hover {
  transition: background-color 0.3s;
  background-color: rgb(78, 0, 0);
  color: var(--text-color);
}


.checkbox-text{
  display: flex;
  justify-content: center;
  align-items: center;

}

input[type="checkbox"]{
  margin-right: 10px;
}

.checked {
  color: grey;
  text-decoration: line-through;
  margin-left: 5px;
  font-size: 20px;
  padding: 0px;
  margin: 10px 0;
}