.container {
  margin: 50px auto;
  max-width: 700px;
  width: 100%;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

#logo {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  text-align: center;
}

.list-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}

.list-add > input {
  flex: 0.76;
  font-size: 20px;
  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.list-add > button {
  flex: 0.23;
  padding: 5px 15px;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.list-add:hover > button {
  background-color: rgb(46, 77, 0);
  transition: background-color 0.3s;
}

.list-container {
  padding: 0px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-text {
  margin-left: 5px;
  font-size: 20px;
  padding: 0px;
  margin: 10px 0;
}

.item-text[type="text"] {
  margin-left: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid grey;
  outline: none;
  font-size: 20px;
  margin: 10px 0;
}

.controls {
  display: flex;
  align-items: center;
}
.edit-btn,
.delete-btn,
.save-btn,
.cancel-btn {
  flex: 0.2;
  padding: 5px 15px;
  max-width: 80px;
  width: 100%;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.edit-btn:hover,
.delete-btn:hover,
.save-btn:hover,
.cancel-btn:hover {
  transition: background-color 0.3s;
}

.edit-btn:hover {
  background-color: rgb(77, 77, 3);
}

.delete-btn:hover {
  background-color: rgb(78, 0, 0);
}

.save-btn:hover {
  background-color: rgb(46, 77, 0);
}

.cancel-btn:hover {
  background-color: rgb(78, 0, 0);
}

.checkbox-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.checked {
  color: grey;
  text-decoration: line-through;
  margin-left: 5px;
  font-size: 20px;
  padding: 0px;
  margin: 10px 0;
}

@media (max-width: 600px) {
  

  .container {
    max-width: 370px;
    width: 100%;
    box-sizing: border-box;
  }

  .group{
    padding: 20px;
  }
  .list-add {
    flex-direction: column;
    gap: 10px;
  }

  .list-add > input,
  .list-add > button {
    flex: unset;
    width: 100%;
  }

  .controls {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .edit-btn,
  .delete-btn,
  .save-btn,
  .cancel-btn {
    max-width: 100%;
    width: 100%;
  }

  .item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .item-text {
    font-size: 18px;
  }
}
